{% extends "layout.html" %}

{% block content %}
<br>
<br>
<br>
<br>    
    {% include "messages.html" %}
   
<div>
    <h3 style="text-align: center; color:rgb(168, 22, 78)">Cart Products</h3>
    <hr style="height:1px;border-width:0;color:gray;background-color:gray" id="po">
        {% for key,product in session['Shoppingcart'].items() %}
     <form action="{{url_for('updatecart',code=key)}}" method="post"  class=" formGrid" style="text-align: center;align-items: center;justify-content: space-evenly;">
         
     <!-- <div class=""> -->
        <!-- <div style="display: flex;"> -->
        <div class="" >
            <h6> Product.no </h6>
            
             {{loop.index}}
                 
        </div>
        <div class="" >
           
           <img src="{{url_for('static',filename='images/'+product.image)}}" alt="{{product.name}}" class="productImg" >   
        </div>
    <!-- </div> -->
    
       <!-- <div class="" style="display: flex;"> -->
        <div class="divCont" >
            <h6>Product</h6>
            
             {{product.name}}
                 
         </div>
       <!-- </div>
       <div class=""> -->
          <div class="divCont" >
              <h6>Colors</h6>
             
              {% set colors= product.colors.split(',') %}            
              <select name="color" id="color">
                  <option value="{{product.color}}" style="display:none">{{product.color|capitalize}}</option>
                  {% for color in colors %}
                  {% set col= color.split(':')%}
                  <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                  {% endfor %}
              </select>   
                
           </div>
        <!-- </div> -->
        <!-- <div class="" style="display: flex;"> -->
           <div class="divCont1">
              <h6>Price</h6>
              
               ${{product.price}}
                   
           </div>
       
    
         <div class="divCont1">
                <h6>Quantity</h6>
                
                 <input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}">   
         </div>
     <!-- </div> -->
     <!-- <div class="" style="display: flex;"> -->
        <div class="divCont1">
            <h6>Discount</h6>
            
             {% set discount="%0.2f" | format((product.discount/100)*product.price|float)%}
             {% if product.discount>0 %}
             {{product.discount}}%  => {{discount}}
             {% else %}
              - 
             {% endif %}
        </div>

        <div class="divCont1">
               <h6>Subtotal</h6>
             {% set subtotal =product.quantity|int*product.price|float %}
             {{"%0.2f" | format((subtotal|float)-discount|float)}}
         </div>      
    <!-- </div> -->


    
         <div class="divCont">
           <h6>Update</h6>
            
             <button type="submit" class="btn btn-sm btn-info">Update</button>
                 
         </div>
         <div class="divCont" >
             <h6>Delete</h6>
            
             <a href="{{url_for('deleteitem',id=key)}}"  class="btn btn-sm  btn-danger">Remove</a>
             
         </div>
           
    <br>
    

     </form>
     <hr style="height:1px;border-width:0;color:gray;background-color:gray" id="po">    
      <br>
     {% endfor %}
  
     <div style="display: flex;justify-content: space-evenly;" id="bot">
 
     <div>
        <h5> Tax: ${{tax}}</h5>
     </div>
     <div>
        <h5>Grandtotal : ${{grandtotal}}</h5>
       
     </div>
     </div>
    <div style="display: flex;justify-content: space-evenly;">
     <div>
        <a href="{{url_for('clearcart')}}" class="btn btn-secondary">Clear cart</a>
     </div> 
     <div >
        <a class="btn btn-success" href="{{url_for('get_order')}}">Order Now</a>
     </div>
      
    </div>
    </div>
</div>

<style>
    h6{
        color:blue;
    }
</style>
    
      
              
                
                
         
        
     

      {% endblock content %}

