

{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<br>
{% include 'messages.html' %}
{% if current_user.email =='admin@blog.com' %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
    <div class="content-section">
        <form method="POST" action="" enctype = "multipart/form-data">
          
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center;"><h3>Update Product</h3></legend>
                
                

      <div class="container fluid">
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}

                    {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.price.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                
                
                <div class="form-group">
                    {{ form.discount.label(class="form-control-label") }}
                    {% if form.discount.errors %}
                        {{ form.discount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.discount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.discount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.stock.label(class="form-control-label") }}
                    {% if form.stock.errors %}
                        {{ form.stock(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.stock.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.stock(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <br>
                <label >Add a Brand</label>
                <select name="brand" id="brand" class="form-control" required>
                    <option value="{{product.brand_id}}">{{ product.brand.name}}</option>
                    {% for brand in brands %}
                    <option value="{{brand.id}}">{{brand.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <label >Add a category</label>
                <select name="category" id="category" class="form-control" required>
                    <option value="{{ product.category_id}}">{{product.category.name}}</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>


                <br>
                <br>





                <div class="form-group">
                    {{ form.colors.label(class="form-control-label") }}
                    {% if form.colors.errors %}
                        {{ form.colors(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.colors.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.colors(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.image_1.label(class="form-control-label") }}
                    {% if form.image_1.errors %}
                        {{ form.image_1(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.image_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image_1(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.image_2.label(class="form-control-label") }}
                    {% if form.image_2.errors %}
                        {{ form.image_2(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.image_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image_2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.image_3.label(class="form-control-label") }}
                    {% if form.image_3.errors %}
                        {{ form.image_3(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.image_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.image_3(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

             
                {{ form.submit(class="btn btn-dark") }}
            </fieldset>
          
        </div>
        </form>
    </div>
    </div>
</div>
    </main>
    {% else %}

    <h1 style="text-align: center;">Only Admin can access this page !!!</h1>
  
  {% endif %}
{% endblock content %}
