<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script> -->
     <!-- <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      } -->
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if title %}
        <title>Carter - {{ title }}</title>
    {% else %}
        <title>Carter</title>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body >
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light  fixed-top" style="background-color: #FFDEE9;
      background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);">
        
          <a class="navbar-brand mr-4 " href="{{url_for('admin')}}">Carter</a>
          <a class="navbar-toggler" id="tog" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" style="color:black;">
            <span class="navbar-toggler-icon" style="padding-right: 30%;"></span>
          </a>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link mb-1" href="/">Home</a>
              <a class="nav-item nav-link mb-1 " href="{{url_for('getCart')}}">Cart({{session['Shoppingcart']|length}})</a>
              {% if brands %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brands</a>
      
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for brand in brands %}
                  <a class="dropdown-item" href="{{url_for('get_brand',id=brand.id)}}">{{brand.name}}</a>
                  {% endfor %}
                </div>
              </li>
              {% endif %}
              {% if categories %}
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
    
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
                <a class="dropdown-item" href="{{url_for('get_category',id=category.id)}}">{{category.name}}</a>
                {% endfor %}
              </div>
            </li>
            </div>
           {% endif %}
          
            <div class="navbar-nav ">
              {% if current_user.is_authenticated  and current_user.email=='admin@blog.com' %}
                 <a class="nav-item nav-link  " href="{{url_for('addproduct')}}"> Add Product</a> 
                  <a class="nav-item nav-link mb-1 " href="{{url_for('brands')}}">Brands</a>     
                  <a class="nav-item nav-link mb-1 " href="{{url_for('category')}}">Categories</a>          
                  <a class="nav-item nav-link " href="{{url_for('customerlogout')}}">Logout</a>
                  <a class="nav-item nav-link mr-3 " href="{{url_for('account')}}">My Dashboard</a>
              {% elif current_user.is_authenticated %}
              <a class="nav-item nav-link  " href="{{url_for('customerlogout')}}">Logout</a>
              <a class="nav-item nav-link mr-3 " href="{{url_for('account')}}">My Dashboard</a>
              {% else %}
                 <a class="nav-item nav-link " href="{{ url_for('customerlogin') }}">Login</a>
                 <a class="nav-item nav-link mr-3" href="{{ url_for('customer_register') }}">Register</a>

                

                 {% endif %} 


<!-- 
                <form method="POST" action="{{url_for('result')}}" class="d-flex" >
                 
                  <input class="form-control me-2" type="search" placeholder="Search products" aria-label="Search" name="searched">
                  <button class="btn btn-success text-white ml-2" type="submit">Search</button>
                </form> -->

                <form method="POST" action="{{url_for('result')}}" class="d-flex" style="width:100%">
                   
                  <input style="height:37px;border-radius: 7px;background-color: lightgray;" class="form-control" type="search" placeholder="Search Products" aria-label="Search" name="searched">
                  <button class="btn text-white ml-2"  type="submit" style="height:37px;background-color: #21D4FD;
                  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
                  
                  ">Search</button>
                </form>
             
            </div>
          </div>
       
      
      </nav>
    </header >
 
      
          {% block content %} 
          
          {% endblock %}
     
     

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


